---
title: Project template page
content_type: projects
---

{% extends 'layouts/simple' %}

{% block content/main, short_name: true %}

{% block main %}
<h1>{{ project.name }}</h1>
<h2>{{ project.client }}</h2>
<p>{{ project.description }}</p>
<img class="media-object" src="{{ project.image.url | default: 'http://loremflickr.com/100/100' | resize: '100x100#' }}" alt="{{ project.name }}">
{% endblock %}

{% endblock %}
